<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="container" class="main">
    <input type="file" id="file"/>
    <div id="map"></div>
    <canvas id="canvas"></canvas>
    <div id="textures">

    </div>
</div>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>
